

body {
    margin : 220px;
    color: BLACK ;
    text-align : center;
    }

p {
color : white;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
font-family:futura;
font-weight: normal;
font-size:65px;
}

h2 {
font-family:futura;
font-weight: normal;
font-size:15px;
color : white;
text-align : center;
}

a {
    color: Blue;
    font-family:Josefin Sans;
    font-size:18pt;
}

name {
text-transform: uppercase;
}

