<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    My Course Counts
    <p><a href="/season">{{ 2010 }}</a></p>
    <p><a href="/professor-directory">{{ 2011 }}</a></p>
    <p><a href="/professor-directory">{{ 2012 }}</a></p>
    <p><a href="/professor-directory">{{ 2013 }}</a></p>
    <p><a href="/professor-directory">{{ 2014 }}</a></p>

</body>
</html>
