<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>department-abbrev</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>

<style>
    table, th, td {border: 2px solid white; padding: 10px;
    text-align: left;}
    body {
        background-image: url("/images/abstract-gaussian-blur-gradient-1515056-1920x1200.png");
        background-size: 100% 150%;
        background-repeat: no-repeat;
    }
    div.title {
    position: relative;
    top: -110px;
    color:white;
    opacity:0.45;
    text-transform: uppercase;
    }
</style>

<body>
<div class="relative">
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;padding:30px">
    </div>

<div class="title">
<h1>{{year}} {{season}}  </h1>
    </div>
<table style="width:100%; border-collapse:collapse;">
    {% for course in courses %}

    <tr>
        <td><p>{{ course.year }}</p></td>
        <td><p>{{ course.season }}</p></td>
        <td><p>{{ course.number }}</p></td>
        <td><p>{{ course.section }}</p></td>
        <td><p>{{ course.title }}</p></td>
        <td><p>{{ course.instructors }}</p></td>
        <td><p>{{ course.meetings }}</p></td>
    </tr>
    {% endfor %}
</table>




</body>
</html>